.header {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.button {
  padding-top: 15px;
  padding-left: 15px;
}

body {
  background-color: #F1F1F1 !important;
}

.score {
  text-align: center;
  margin-top: -55px;
  color: #333;

  h2 {
    font-size: 20px;
    font-weight: 300;
  }
}
