.header {
  height: 80px;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.button {
  padding-top: 15px;
  padding-left: 15px;
}

body {
  ackground: #50a3a2 !important;
background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%) !important;
background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%) !important;
background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%) !important;
background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%) !important;
	width: 100vw !important;
	height: 100vh !important;
}

.score {
  text-align: center;
  margin-top: -55px;
  color: #333;

  h2 {
    font-size: 20px;
    font-weight: 300;
  }
}
